# EDA

Neste momento, iremos buscar entender um pouco mais a base que acabamos de trazer na etapa anterior. 

Iremos dividir esta estapa em 2 grandes blocos, análise diretamente sobre o Cartola, análise sobre os times via base Confrontos.

In [1]:
import os
os.chdir(f"{os.getcwd()}\\data")

'C:\\Users\\thiag\\OneDrive\\Área de Trabalho\\GitHub\\Cartola'

In [5]:
os.listdir()[:5]

['Base_Cartola_2021_rodada_1.csv',
 'Base_Cartola_2021_rodada_10.csv',
 'Base_Cartola_2021_rodada_11.csv',
 'Base_Cartola_2021_rodada_12.csv',
 'Base_Cartola_2021_rodada_13.csv']

## Base Cartola

In [6]:
import pandas as pd

df = pd.read_csv('Base_Cartola_2021_rodada_1.csv')

In [7]:
df.head()

,Unnamed: 0,rodada,apelido,atleta_id,posicao_id,clube_id,entrou_em_campo,pontuacao,FC,FS,...,FT,G,PC,PS,PP,I,DP,clube_nome,posicao_nome,posicao_abreviacao
0,0,1,Zaracho,100079,4,282,True,0.0,1,1,...,0,0,0,0,0,0,0,Atlético-MG,Meia,mei
1,1,1,Igor Gomes,100084,4,276,True,0.2,0,1,...,0,0,0,0,0,0,0,São Paulo,Meia,mei
2,2,1,Pedrinho,100103,5,280,True,0.8,0,0,...,0,0,0,0,0,0,0,Bragantino,Atacante,ata
3,3,1,Yuri Alberto,100652,5,285,True,-0.6,2,1,...,0,0,0,0,0,0,0,Internacional,Atacante,ata
4,4,1,Matheus Henrique,100742,4,284,True,6.9,1,4,...,0,0,0,0,0,0,0,Grêmio,Meia,mei